extends layout

block content

    include nav

    .container-fluid
        h1 GitterBot Rooms

        a.btn.btn-lg.btn-default(href=topicDmUri) DM with bothelp
        span.btn.btn-sm #{topicDmUri}


        - each room in rooms
            .well
                .container-fluid
                    .row
                        .col-md-3
                            div HBF + topic=#{room.topic}
                        .col-md-4
                            a.btn.btn-med.btn-default(href="/go?room=#{room.entry}&topic=#{room.topic}&who=#{who}")
                                span #{room.entry}<b>&topic=#{room.topic}</b>

                            br
                            br

                    .row
                        .col-md-3
                            div dedicated room
                        .col-md-4
                            a.btn.btn-med.btn-success(href="/go?room=#{room.name}&who=#{who}")
                                span #{room.name}


        //.col-md-8
                        //    if room.topics
                        //        - each topic in room.topics
                        //            a.btn.btn-default(href="/go?topic=#{topic}&who=#{who}") #{topic}
                        //            &nbsp;
                        //            span /go?topic=#{topic}&who=#{who}
                        //            br
        //
        //h2 Bonfire Rooms
        //.container-fluid
        //    - each bonfire in bonfires
        //        //- a.btn.btn-lg.btn-success(href="/go?room=#{bonfire.dashedName}&who=#{who}") #{bonfire.name} &nbsp;
        //        .row
        //            hr
        //            .col-md-6
        //                a.btn.btn-lg.btn-success(href="https://gitter.im/camperbot/#{bonfire.dashedName}?who=#{who}") #{bonfire.name} &nbsp;
        //                p #{bonfire.description[0]}
        //            .col-md-6
        //                a.btn.btn-default(href="/go?room=camperbot/#{bonfire.dashedName}?who=#{who}&topic=question") #{bonfire.name} &nbsp;
        //                p #{bonfire.dashedName}
