extends layout

block content

  include nav

  .container-fluid
    h1 GitterBot Rooms

    - each room in rooms
      .well
        .container-fluid
          .row
            .col-md-2
              a.btn.btn-lg.btn-success(href="/go?room=#{room.title}&who=#{who}") #{room.title} &nbsp;
            .col-md-10
              - each topic in room.topics
                a.btn.btn-default(href="/go?topic=#{topic}&who=#{who}") #{topic}

