extends layout

block content

  include nav

  .container-fluid

    div 
        img.img-circle(src="#{user.avatarUrlMedium}")
        span.small Hello 
        span.h1 #{user.username}!
    //- p  clientId: 
    //-   span.mono #{clientId}
    //- p sessionToken: 
    //-   span.mono #{sessionToken}
    //- p 
    //-   |Search 
    //-   a(href='https://developer.gitter.im/docs/welcome')
    //-     |Developer documentation
    //-   |. 

    div.page-header
        h2 Your rooms

    table.table.table-striped.table-hover
        thead
            tr
                td name
                td users
                td oneToOne
                td unread
                td githubType
                td security
        - each room in rooms
            tr
                td
                    a.btn.btn-lg.btn-primary(href="https://gitter.im#{room.url}") #{room.name} &nbsp;
                td #{room.userCount}
                td
                    if room.oneToOne
                        span.label.label-warning TRUE
                    else
                        span.label.label-info FALSE

                td #{room.unreadItems}
                td #{room.githubType}
                td #{room.security}
            
